section.index-slider
    .index-slider__controls.index-slider__controls--prev
        +icon('arrow-up')
    .index-slider__controls.index-slider__controls--next
        +icon('arrow-down')
    .js-index-slider
        each object in indexSlider
            .index-slider__item
                img(src="assets/img/main-slider/staub.jpg", alt="Main slider").index-slider__img
                .index-slider__content
                    if (object.title['line2'])
                        span.index-slider__title= object.title['line1']
                            br
                            | #{object.title['line2']}
                    else
                        span.index-slider__title= object.title['line1']
                    .slider-product-info
                        .product-colors.slider-product-info__item
                            span.slider-product-info__title= object['colorsTitle']
                            each color in object.colors
                                .slider-product-info__line
                                    .product-color.slider-product-info__color(style=`background-color: ${color['code']}`)
                                    span= color['name']
                        .product-params.slider-product-info__item
                            span.slider-product-info__title= object['parametersTitle']
                            each parameter in object.parameters
                                .slider-product-info__line
                                    +icon(parameter['icon'])
                                    span= parameter['value']
                    a(href="#").g-btn О кастрюле